@charset "UTF-8";

#wrap {
	width:1200px;
	margin: 0 Auto;
}


.section > .logo {

	height:200px;
}

.section > .contents {
	
	height:600px;
}
.contents > .contents1 {
	width:300px;
}

.contents > .contents2 {
	width:300px;
}

.contents > .contents3 {
	width:300px;
}

footer {
	height:800px;
}

.footer > .footer1 {
	height:100px;
}
.footer > .footer2 {
	height:1100px;
}
