<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yuuur.spring.test.jsp.repository.RealtorRepository">

	<insert id="insertRealtor" parameterType="map">
		INSERT INTO
			`realtor`
		(
			`office`
			, `phoneNumber`
			, `address`
			, `grade`	
		)
		VALUE
		(
			#{office}		
			, #{phoneNumber}
			, #{address}
			, #{grade}
		)
	
	</insert>


</mapper>