<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yuuur.spring.test.jstl.repository.WeatherhistoryRepository">

	<select id="selectWeatherhistory" resultType="com.yuuur.spring.test.jstl.domain.Weatherhistory">
		SELECT
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherhistory`
	
	</select>
	
	<insert id="insertWeatherhistory" parameterType="map">
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`	
		)
		VALUE
		(
			#{date}		
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
		)
	
	</insert>

	<insert id="insertWeather" parameterType="com.yuuur.spring.test.jstl.domain.Weatherhistory">
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`	
		)
		VALUE
		(
			#{date}		
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
		)
	
	</insert>

</mapper>

